#new-ride-form.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", data-dismiss="modal", aria-hidden="true").close &times
				h4.modal-title#newRideModalHeader Create a New Ride
			.modal-body
				form(ng-submit="addNewRide()").form
					.newRideError.text-error
						fieldset
							.input-group.input-group-lg
								select(ng-model="group", name="cat", ng-options="g.title for g in allGroups").form-control
							.input-group.input-group-lg
								.input-group-addon
									.glyphicon.glyphicon-star
								input(type="text", name="title", ng-model="title", placeholder="Title", required="required").form-control
							.input-group.input-group-lg
								.input-group-addon
									.glyphicon.glyphicon-star
								input(type="text", name="description", ng-model="description", placeholder="Description", required="required").form-control
							.input-group.input-group-lg
								.input-group-addon
									.glyphicon.glyphicon-star-empty
								input(type="text", ng-model="url", name="url", placeholder="URL").form-control
							.input-group.input-group-lg
								.input-group-addon
									.glyphicon.glyphicon-calendar
								input(type="text", value="12-02-2013", data-format="yyyy/mm/dd")#scheduledFor.form-control
							input(type="hidden", value="{{userId}}", name="userId", ng-model="userId")
							button(type="submit").btn.btn-primary Add Ride
			.modal-footer
				button(type="button", data-dismiss="modal").btn.btn-default Close

	script()
		$(function(){
			var scheduler = $('#scheduledFor').datepicker()
				.on('changeDate', function(ev) {
					scheduler.setDate(new Date(ev.Date));
					scheduler.hide();
				});
		});