#new-ride-form.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="newRideModalHeader", aria-hidden="true")
	.modal-header
		button(type="button", data-dismiss="modal", aria-hidden="true").close x
		h3#newRideModalHeader Create a New Ride
	.modal-body
		form(ng-submit="addNewRide()").form
			.newRideError.text-error
				fieldset
					.form-element
						select(ng-model="group", name="cat", ng-options="g.title for g in allGroups")
					.form-element
						input(type="text", name="title", ng-model="title", placeholder="Title", required="required")
					.form-element
						input(type="text", name="description", ng-model="description", placeholder="Description", required="required")
					.form-element
						input(type="text", ng-model="url", name="url", placeholder="URL")
					.form-item
						div(class="input-append date", id="scheduledFor", data-date="12-02-2012", data-date-format="yyyy/mm/dd")
							input(class="span2", size="16", name="scheduledForDate", ng-model="scheduledForDate", type="text", value="12-02-2012")
							span.add-on
								i.icon-th
					input(type="hidden", value="{{userId}}", name="userId", ng-model="userId")
					input(type="submit", value="Add Ride").btn.btn-primary
	.modal-footer
		button(data-dismiss="modal", aria-hidden="true").Close
	script()
		$(function(){
			var scheduler = $('#scheduledFor').datepicker()
				.on('changeDate', function(ev) {
					scheduler.setDate(new Date(ev.Date));
					scheduler.hide();
				});
		});