#new-ride-form.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="newRideModalHeader", aria-hidden="true")
	.modal-header
		button(type="button", data-dismiss="modal", aria-hidden="true").close x
		h3#newRideModalHeader Create a New Ride
	.modal-body
		form(ng-submit="addNewRide()").form
			.newRideError.text-error
				fieldset
					.form-element
						select#raceCategory.raceCategory(name="cat", ng-model="cat")
								option(selected="selected") Team Ride
								option cat 2
								option cat 3
								option cat 4
								option cat 5
						.form-element
							input(type="text", name="title", ng-model="title", placeholder="Title", required="required")
						.form-element
							input(type="text", name="description", ng-model="description", placeholder="Description", required="required")
						.form-element
							input(type="text", ng-model="rideRoute", name="url", placeholder="URL")
						.form-item
							div(class="input-append date", id="scheduledFor", data-date="12-02-2012", data-date-format="dd-mm-yyyy")
								input(class="span2", size="16",name="scheduledForDate", type="text", value="12-02-2012")
								span.add-on
									i.icon-th
						input(type="hidden", value="{{userId}}", name="userId", ng-model="userId")
						input(type="submit", value="Add Ride").btn.btn-primary
	.modal-footer
		button(data-dismiss="modal", aria-hidden="true").Close
	script()
		$(function(){
			var scheduler = $('#scheduledFor').datepicker()
				.on('changeDate', function(ev) {
					scheduler.setDate(new Date(ev.Date));
					scheduler.hide();
				});
		});