#register-form.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", data-dismiss="modal", aria-hidden="true").close x
				h3#registerModalHeader Register
			.modal-body
				form(ng-submit="doRegister()", name="registerForm").form
					.registerError.text-error
					fieldset
						.input-group.input-group-lg
							.input-group-addon
								.glyphicon.glyphicon-star
							select.raceCategory.form-control
								option
									| seelect your race category
								option cat 2
								option cat 3
								option cat 4
								option cat 5
						.input-group.input-group-lg
							.input-group-addon
								.glyphicon.glyphicon-star
							input(type="text", ng-model="name", placeholder="Name", ng-required="true").form-control
						.input-group.input-group-lg
							.input-group-addon
								.glyphicon.glyphicon-star
							input(type="text", ng-model="email", placeholder="e-mail", ng-required="true").form-control
						.input-group.input-group-lg
							.input-group-addon
								.glyphicon.glyphicon-star
							input(type="text", ng-model="password", placeholder="password", ng-required="true").form-control
						input(type="submit", value="Register").btn.btn-primary
			.modal-footer
				button(data-dismiss="modal", aria-hidden="true").Close