#register-form.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="registerModalHeader", aria-hidden="true")
	.modal-header
		button(type="button", data-dismiss="modal", aria-hidden="true").close x
		h3#registerModalHeader Register
	.modal-body
		form(ng-submit="doRegister()").form
			.registerError.text-error
			fieldset
				.form-element
					select.raceCategory
						option seelect your race category
						option cat 2
						option cat 3
						option cat 4
						option cat 5
				.form-element
					input(type="text", ng-model="name", placeholder="Name")
				.form-element
					input(type="text", ng-model="email", placeholder="e-mail")
				.form-element
					input(type="text", ng-model="password", placeholder="password")
				input(type="submit", value="Register").btn.btn-primary
	.modal-footer
		button(data-dismiss="modal", aria-hidden="true").Close