doctype 5
html(ng-app="app", lang="en")
	head
		title= title
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/datepicker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', type='text/javascript')
		script(src='/javascripts/angular.js', type='text/javascript')
		script(src='/javascripts/angular-resource.js', type='text/javascript')
		script(src='/vendor/bootstrap/js/bootstrap.min.js' type='text/javascript')
		script(src='/javascripts/script.js', type='text/javascript')
		script(src='/javascripts/Services/UserService.js', type='text/javascript')
		script(src='/javascripts/Services/GroupService.js', type='text/javascript')
		script(src='/javascripts/Services/RideService.js', type='text/javascript')
		script(src='/javascripts/Services/NotificationService.js', type='text/javascript')
		script(src='/javascripts/Controllers/HomeController.js', type='text/javascript')
		script(src='/javascripts/Controllers/RidesController.js', type='text/javascript')
		script(src='/javascripts/bootstrap-datepicker.js', type='text/javascript')
		block headjs
	body(ng-controller="MainCtrl")
		.page(ng-controller="PageCtrl", ng-init="initPage()")
			include includes/header.jade
			include includes/register-form.jade
			include includes/new-ride-form

			block content