.ride-group {
	background-color:#7498A3;
	color: white;
	border-radius:5px;
	border-bottom:1px solid white;
}
.ride-group h3 {
	position:relative;
}
.large-badge {
	border-radius:10px;
	padding:2px 6px;
	background-color:white;
	color:rgb(182, 6, 20);
	position:absolute;
	left:10px;
}
.navbar-form a {
	margin-left: 10px;
	position:relative;
	top:5px;
}
.login-success-view {
	position: absolute;
    right: 100px;
    top: 15px;
}
.logout-view {
    position: absolute;
    right:50px;
    top:15px;
}
.login-message {
	margin:10px 0 10px 10px;
	display:block;
}

/* ******************
** Rides Form
****************** */

/* *******************
** BOOTSTRAP OVERRIDES
******************** */
.hero-unit {
	background:url('../images/road_bike_photo.jpg') no-repeat 0 -102px;
	line-height:8px !important;
}
.hero-unit h1 {
	opacity: .5;
}
.hero-unit p {
	color:white;
	background-color:#f5f5;
	opacity:.8;
	padding-top:10px;
	width:216px;
	height:14px;
}
.text-error {
	margin:10px 0;
}

#loginForm .btn {
	background-image:linear-gradient(to bottom, #791515, #B93636);
	color:white;
}
.dropdown-menu {
    z-index: 1051;
}

/* Large desktop */
@media (min-width: 1200px) {
	.hero-unit {
		background:url('../images/road_bike_photo.jpg') no-repeat 0 -102px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width:979px){
	.hero-unit {
		background:url('../images/road_bike_photo_979.jpg') no-repeat 0 -102px;
	}
}

/*landscape phone to portrait tablet */
@media (max-width: 767px) {
	.hero-unit {
		background:url('../images/road_bike_photo_767.jpg') no-repeat -93px 11px;
	}
}

/* Landscape phones and down*/
@media (max-width: 480px) {
	.hero-unit {
		background:url('../images/road_bike_photo_480.jpg') no-repeat 0 -10px;
		padding: 10px 60px 60px 10px !important;
	}
	.hero-unit h1 {
		background-color:white;
		width:268px;
	}