.ride-group {
	background-color:#7498A3;
	color: white;
	border-radius:5px;
	border-bottom:1px solid white;
}
.ride-group h3 {
	position:relative;
}
.large-badge {
	font-weight:bold;
	color:#f5f5f5;
	position:absolute;
	left:-39px;
    border-radius: 7px;
    background-color:lightslategray;
    width:28px;
    height:24px;
    text-align:center;
    padding:3px;
    top:-1px;

}
.navbar-form a {
	margin-left: 10px;
	position:relative;
	top:5px;
}
.login-success-view {
	position: absolute;
    right: 150px;
    top: 15px;
    color:#242424;
}
.logout-view {
    position: absolute;
    right:100px;
    top:15px;
    color:#242424;
}
.login-message {
	margin:10px 0 10px 10px;
	display:block;
}
/* ******************
** login Form
****************** */
#loginForm .alert, #new-ride-form .alert{
    display:table;
    position:relative;
    width:100%;
    text-align: center;
}

/* ******************
** Rides Form
****************** */
#new-ride-form .input-group, #loginForm .input-group, #register-form .input-group{
    margin-bottom:15px;
}


/* ******************
** ride display
****************** */
.rides-list .list-group-item-text {
    margin-bottom: 18px;
}
.rides-list .number-of-riders {
    margin:0;
}
.ride-date {
    padding:3px;
    border-right:1px solid #A57979;
    color:gray;
}

.ride-date .calendar-date, .ride-date .time-of-day {
    font-weight:bold;
    line-height: 18px;
}

.ride-date .calendar-date .month {
    font-size:1.2em;
}
.ride-date .calendar-date .day {
    font-size:1.4em;
}




/* *******************
** BOOTSTRAP OVERRIDES
******************** */
.jumbotron {
	background:url('../images/road_bike_photo.jpg') no-repeat 0 -102px;
    line-height: 8px;
}
.jumbotron .container h1 {
	opacity: .5;
    margin:22px 0 0;
    padding:0;
}
.jumbotron .container p {
	color:#065FA3;
	opacity:.8;
	width:216px;
	height:auto;
    line-height:17px;
}
.text-error {
	margin:10px 0;
}

#loginForm .btn {
    background-color:orangered;
	color:white;
}
.dropdown-menu {
    z-index: 1051;
}

/* // ------ Navbar */
.navbar-default {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    border-color:#686869;
}
.navbar-default .navbar-toggle {
     border-color: lightgray;
     background-color: darkgray;
 }
.navbar-default .navbar-toggle:hover {
    border-color: lightgray;
    background-color: darkslategray;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #021C85;
}
.navbar-default .navbar-brand {
    color: #F5F2F2;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: #f5f5f5;
    background-color: slategray;
}
.list-group-item:hover .ride-date, .list-group-item:focus .ride-date{
    color:white;
}
.navbar-collapse {
    background-color: floralwhite;
}
.navbar-collapse::-webkit-scrollbar {
    display:none;
}
.navbar-default .navbar-nav>li>a {
     color: darkslategray;
 }
.navbar-default .navbar-nav>li>a:hover {
    color: darkslategray;
    background-color: lightgray;
}
.navbar-collapse #loginForm {
    border-top: 1px solid #C8DAE7;
}
/* // --- Lists -- */
.list-group-item{
    background-color:#f5f5f5;
    border:none;
}
.list-group a {
    border: 1px solid rgb(162, 153, 153)
}
.list-group-item h3 {
    color:dimgray;
}
#ridePage .list-group-item{
    background-color: #f5f5f5;
    border:1px solid lightgray;
    height:81px;
    padding:10px;
    margin:0;
}
a.list-group-item:hover, a.list-group-item:focus, .list-group-item:hover .list-group-item-heading, a.list-group-item:focus .list-group-item-heading {
    background-color:darkslategray;
    color:ghostwhite;
}
/* // ------ Modals -- */
.modal-dialog {
    background-color:orange;
}

/* //---------- Panels -- */
.panel-title {
    margin-left:32px;
    position:relative;
}

.panel-heading {
    padding-top:20px;
    padding-bottom:20px;
}

.panel-title a {
    font-size:20px;
}

/* // ------ Angular Classes -- */
.hideLogin { display:none; height:0; width:0; }


/* *******************
**  RIDE PAGE
****************** */
#ridePage {
    margin-top:46px;
    padding:20px;
}

#ridePage .btn-primary {
    display:block;
    padding:18px;
}



/* Large desktop */
@media (min-width: 1200px) {
	.jumbotron {
		background:url('../images/road_bike_photo.jpg') no-repeat 0 -102px;
	}
}
@media (min-width: 980px) and (max-width:1199px){
    .jumbotron {
        background:url('../images/road_bike_photo_979.jpg') no-repeat 0 -16px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width:979px){
	.jumbotron {
		background:url('../images/road_bike_photo_979.jpg') no-repeat 0 -22px;
	}
}

/*landscape phone to portrait tablet */
@media (max-width: 767px) {
	.jumbotron {
		background:url('../images/road_bike_photo_767.jpg') no-repeat -93px 11px;
	}
}

/* Landscape phones and down*/
@media (max-width: 480px) {
	.jumbotron {
		background:url('../images/road_bike_photo_480.jpg') no-repeat 0 62px;
		padding: 34px 60px 9px 10px !important;
	}
	.jumbotron h1 {
		background-color:white;
		width:268px;
	}
}